* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #E2EDF6;
  border: 1px solid black;
  width: 500px;
  margin: 0 auto;
  padding:  30px 45px;
}
.forms{
  margin: 0 auto;
  width: 440px;
}
.forms p {
  margin: 16px 0;
}
.container h2 {
  text-align: center;
}
.input_name {
  width:143px;
  margin: 15px;
}
.address_label {
  margin-left: 30px;
}

.last_address_input {
  width: 225px;
}
.form_last_3 {
  width: 300px;
}
.btn-container {
  text-align: center;
}

.btn {
  background-color: #6495ed;
  padding:8px 26px ;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-style: none;
}

/* 登録確認画面 */
.content{
  margin: 0 auto;
  width: 350px;
}
.content p {
  margin: 16px 0;
}
.back_btn {
  background-color: white;
  padding:8px 26px ;
  margin-top: 10px;
  border-radius: 10px;
  color: #6495ed;
  font-size: 15px;
  font-weight: bold;
  border:#6495ed 1px;
}

/* 会員登録完了画面 */
.container_completed {
  height: 401px;
}
.regist_completed {
  text-align: center;
}
.regist_completed h2{
  margin: 20px 0;
  text-align: center;
}
.regist_completed p{
  margin: 20px 0;
  text-align: center;
}
.err_msg {
  color: red;
  font-size: 11px;
  margin-left: 72px;
}
.login_form_email {
  width: 267px;
  margin-left: 5px;
}
.login_form_pass {
  width: 267px;
  margin-left: 63px;
}

.login-forms p{
  margin: 30px 0;
  text-align: center;
}
.login-btn {
  margin: 40px 0px 18px 0px;
}
header {
  height: 60px;
  width: 100%;
  background-color: #fedcbd;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
}
.welcome-msg {
  line-height: 60px;
  margin-left: 20px;
}
.header-btn {
  text-decoration: none;
  font-size: 14px;
  color: black;
  border: 1px solid black;
  padding: 12px;
  line-height: 60px;
  font-weight: bold;
}
.right-side-btn {
  margin: 0px 20px 0px 10px;
}
.title {
  width: 288px;
}
.comment {
  width: 353px;
  vertical-align: top;
}